.how-to-go {
  position: relative;
  background-size: 286px 598px;
  background-repeat: no-repeat;
  background-position: right top 90%;

  h2 {
    @include desktop-title;
    width: 528px;
    margin-bottom: 25px;
  }

  h2 + p {
    margin-bottom: 30px;
    padding-right: 40px;
  }

  b {
    display: inline-block;
    vertical-align: baseline;
    width: 528px;
    margin-bottom: 25px;
    padding-right: 80px;
    font-weight: 500;
    font-size: 17px;
    line-height: 29px;
  }

  p {
    width: 528px;
    margin-top: 0;
    font-size: 15px;
    line-height: 26px;
  }

  ol {
    width: 528px;
    margin-bottom: 43px;
    padding-right: 75px;
  }

  ol + p {
    width: 528px;
    padding-left: 15px;
    border-left: 4px solid $decor-color;
    font-size: 15px;
    line-height: 21px;
    color: rgba(72, 72, 72, 0.5);
  }
}

.how-to-go__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 111px 120px 150px 130px;
  background-size: 586px 855px;
  background-position: left top 15px;
  background-repeat: no-repeat;
}

.how-to-go__requirements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 460px;
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: li;
  background-image: url("../img/punct.svg");
  background-size: contain;
  background-repeat: repeat-y;
  background-position: left top;
  z-index: 0;

  li {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 36px;
    padding-left: 43px;
    margin-bottom: 40px;
    font-size: 15px;
    line-height: 21px;
    z-index: 1;

    &::before {
      counter-increment: li;
      content: counter(li);
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      left: -17px;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      color: $decor-color;
      text-align: center;
      box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      transform: translateY(-50%);
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.webp .how-to-go {
  background-image: url("../img/how-to-go-background-desktop@1x.webp");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/how-to-go-background-desktop@2x.webp");
  }
}

.no-webp .how-to-go {
  background-image: url("../img/how-to-go-background-desktop@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/how-to-go-background-desktop@2x.jpg");
  }
}


.webp .how-to-go__container {
  background-image: url("../img/how-to-go-photo-desktop@1x.webp");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/how-to-go-photo-desktop@2x.webp");
  }
}

.no-webp .how-to-go__container {
  background-image: url("../img/how-to-go-photo-desktop@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/how-to-go-photo-desktop@2x.jpg");
  }
}


@media (max-width: $desktop-width-max) {
  .how-to-go__container {
    padding-top: 8.1%;
    padding-left: 9.5%;
    padding-right: 8.8%;
    background-size: calc(58% - 200px);
    background-position: left center;
  }
}

@media (max-width: $desktop-width-min) {
  .how-to-go {
    font-size: 14px;
    line-height: 22px;

    h2 {
      @include mobile-title;
      width: unset;
      align-self: center;
    }

    h2 + p {
      width: 450px;
      padding-right: 0;
      font-size: inherit;
      line-height: inherit;
    }

    p {
      width: unset;
    }

    b {
      width: 430px;
      padding: 0;
      font-size: 16px;
      line-height: 26px;
    }

    ol {
      width: 430px;
      padding-right: 0;
    }

    ol + p {
      width: 430px;
      font-size: inherit;
      line-height: inherit;
    }
  }

  .how-to-go__requirements {
    li {
      font-size: inherit;
      line-height: inherit;
    }
  }

  .how-to-go__container {
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
  }

  .webp .how-to-go__container {
    background-image: none;
  }

  .no-webp .how-to-go__container {
    background-image: none;
  }
}

@media (max-width: $tablet-width-min) {
  .how-to-go {
    background-position-y: 43%;
    background-size: 216px 199px;
    font-size: 14px;
    line-height: 22px;

    h2 {
      @include mobile-title;
      width: unset;
      align-self: center;
    }

    h2 + p {
      width: auto;
      max-width: 450px;
      padding-right: 0;
      margin-bottom: 20px;
      font-size: inherit;
      line-height: inherit;
    }

    b {
      width: auto;
      max-width: 430px;
      padding: 0;
      font-size: 16px;
      line-height: 26px;
    }

    ol {
      width: auto;
      max-width: 430px;
      margin-bottom: 15px;
      padding-right: 0;
    }

    ol + p {
      width: auto;
      min-width: 300px;
      max-width: 430px;
      padding-left: 10px;
      font-size: inherit;
      line-height: inherit;
    }
  }

  .how-to-go__container {
    padding-top: 75px;
  }

  .how-to-go__requirements {
    background-position: left 7px top;

    li {
      margin-bottom: 35px;
      padding-right: 2px;
      font-size: inherit;
      line-height: inherit;

      &::before {
        left: -10px;
      }

      &:first-of-type {
        margin-bottom: 55px;
      }
    }
  }

  .webp .how-to-go {
    background-image: url("../img/how-to-go-background-mobile.webp");
  }

  .no-webp .how-to-go {
    background-image: url("../img/how-to-go-background-mobile.jpg");
  }
}
