.more-info {
  background-repeat: no-repeat;
  background-size: 420px 708px;
  background-position: left bottom;

  h2 {
    @include desktop-title;
    margin-bottom: 50px;
  }

  h2 + p {
    margin-bottom: 37px;
    font-size: 15px;
    line-height: 22px;
  }
}

.more-info__your-city {
  position: relative;
  margin-top: 0;
  padding-left: 21px;
  padding-right: 28px;

  span {
    display: inline-block;
    vertical-align: baseline;
    margin-left: 14px;
    border-bottom: 1px dashed $title-color;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &::before {
    top: 1px;
    left: 0;
    background-image: url("../img/marker.svg");
  }

  &::after {
    top: 3px;
    right: 1px;
    background-image: url("../img/gps.svg");
  }
}

.webp .more-info {
  background-image: url("../img/more-background-desktop@1x.webp");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/more-background-desktop@2x.webp");
  }
}

.no-webp .more-info {
  background-image: url("../img/more-background-desktop@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/more-background-desktop@2x.jpg");
  }
}

.more-info__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-top: 37px;
  padding-left: 110px;
  padding-bottom: 94px;

  picture {
    margin-top: -392px;
    margin-bottom: 28px;
    margin-left: auto;
  }
}

.more-info__curator {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 480px;

  img {
    flex-shrink: 0;
    margin-right: 25px;
  }

  p {
    margin: 0;
  }
}

.more-info__curator-description-container {
  margin-bottom: 26px;
  padding-top: 2px;

  p {
    &:first-of-type {
      margin-bottom: 10px;
    }
  }

  span {
    margin-right: 7px;
    color: $title-color;
  }

  address {
    max-width: 264px;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 19px;
    font-style: normal;
    color: rgba(72, 72, 72, 0.74);
  }
}

.more-info__curator-social {
  display: flex;
  margin-bottom: 10px;

  a {
    width: 28px;
    height: 22px;
    margin-right: 6px;
    text-align: center;

    &:hover {
      svg {
        fill: $decor-color;
      }
    }
  }

  svg {
    width: 28px;
    height: 32px;
    fill: #d5d4d2;
    margin-left: -10px;
  }
}

.more-info__curator-description {
  font-size: 17px;
  line-height: 29px;
  color: $description-color;
}

.more-info__form-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding-right: 114px;

  b {
    display: inline-block;
    vertical-align: baseline;
    max-width: 328px;
    padding-top: 5px;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
  }

  p {
    width: 100%;
    max-width: 364px;
    margin: 0;
    font-size: 13px;
    line-height: 19px;
    color: rgba(72, 72, 72, 0.5);
  }

  form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 764px;
    width: 764px;
    margin-bottom: 6px;
  }

  input[type="text"],
  input[type="tel"] {
    width: 250px;
    padding: 18px 23px 18px 39px;
  }

  button[type="submit"] {
    width: 216px;
    font-size: 14px;
    letter-spacing: 0.8px;
  }

  label {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: $desktop-width-max) {
  .more-info__container {
    padding-left: 8.1%;

    picture {
      margin-top: -32.7%;
      margin-bottom: 6.7%;
    }
  }

  .more-info__map {
    position: relative;
    width: 55%;
    z-index: -1;
  }

  .more-info__curator {
    width: 45%;
    margin-bottom: 20px;
  }

  .more-info__form-container {
    padding-right: 9.4%;

    b {
      width: 29%;
      margin-right: 10px;
      margin-bottom: 1.1%;
    }

    form {
      width: 67.9%;
      margin-bottom: 1.1%;
      flex-grow: 1;
    }

    input[type="text"],
    input[type="tel"] {
      width: 100%;
      margin-right: 0.5%;
    }

    label {
      width: 32.7%;
    }
  }
}

@media (max-width: $tablet-width-max) {
  .webp .more-info {
    background-image: none;
  }

  .no-webp .more-info {
    background-image: none;
  }

  .more-info__container {
    flex-direction: column;
    padding-right: 0;
    padding-left: 5%;

    h2 {
      @include mobile-title;
      align-self: center;
    }

    picture {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin: 0;
      margin-bottom: 24px;
      text-align: center;
    }
  }

  .more-info__curator {
    width: unset;
    margin-bottom: 40px;
  }

  .more-info__curator-description {
    font-size: 16px;
    line-height: 26px;
  }

  .more-info__form-container {
    justify-content: center;
    padding-right: 0;
    text-align: center;

    b {
      order: 1;
      width: 100%;
      max-width: unset;
      margin-right: 0;
    }

    p {
      order: 2;
      width: 100%;
      max-width: unset;
      margin-bottom: 32px;
    }

    form {
      order: 3;
      width: 100%;
    }
  }
}


@media (max-width: $mobile-width-max) {
  .more-info__container {
    align-items: flex-start;
    padding: 0;
    padding-top: 12px;
    padding-bottom: 62px;

    h2 {
      width: 100%;
      margin-bottom: 26px;
      text-align: center;
    }

    address {
      max-width: unset;
    }
  }

  .more-info__map {
    align-self: flex-end;
  }

  .more-info__your-city {
    margin-left: 5%;
    margin-right: 5%;
  }

  .more-info__curator {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 32px;

    & > img {
      margin-bottom: 14px;
    }
  }

  .more-info__curator-description {
    max-width: 288px;

    span {
      margin-right: 47px;
    }
  }

  .more-info__curator-description-container {
    margin-bottom: 32px;
  }

  .more-info__form-container {
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;

    b {
      max-width: 288px;
      margin-bottom: 4.1%;
      padding-top: 0;
      font-size: 16px;
      line-height: 24px;
    }

    p {
      max-width: 288px;
      margin-bottom: 12%;
    }

    form {
      flex-direction: column;
      align-items: center;
      flex-grow: 0;
    }

    label {
      width: 100%;
      max-width: 288px;
      margin-bottom: 8px;

      &:last-of-type {
        margin-bottom: 23px;
      }
    }

    button[type="submit"] {
      width: 100%;
      max-width: 264px;
    }
  }
}
