@font-face {
  font-weight: normal;
  font-family: "FiraSans";
  font-style: normal;
  font-display: swap;
  src: url("./../fonts/FiraSans-Regular.woff2") format("woff2"), url("./../fonts/FiraSans-Regular.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "FiraSans";
  font-style: normal;
  font-display: swap;
  src: url("./../fonts/FiraSans-Bold.woff2") format("woff2"), url("./../fonts/FiraSans-Bold.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Montserrat";
  font-style: normal;
  font-display: swap;
  src: url("./../fonts/Montserrat-Bold.woff2") format("woff2"), url("./../fonts/Montserrat-Bold.woff") format("woff");
}

html {
  height: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: $mobile-width-min;
  width: 100%;
  min-height: 100%;
  font-family: $main-font;
  font-size: 16px;
  line-height: 22px;
  color: $second-color;
}

img {
  max-width: 100%;
  height: auto;
}
