.btn {
  padding: 0;
  border: none;
  background-color: transparent;
  text-align: center;
  cursor: pointer;

  &--gradient {
    padding: 20px 0;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    font-variant: small-caps;
    text-transform: uppercase;
    color: #ffffff;
    background-color: $decor-color;
    background-image: $gradient;
    border-radius: 80px;

    &:hover {
      background-image: $gradient-hover;
      transition: $transition;
    }

    &:active {
      background-image: $gradient-active;
      transition: $transition;
    }

    &:focus {
      outline: none;
    }
  }

  &--close {
    position: absolute;
    top: 25px;
    right: 30px;
    width: 18px;
    height: 17px;
    background-image: url("../img/close-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transition: $transition;

    &:hover {
      opacity: $hover-state-opacity;
    }

    &:active {
      opacity: $active-state-opacity;
    }

    &:focus {
      outline: none;
    }
  }
}

@media (max-width: $mobile-width-max) {
  .btn {
    &--close {
      top: 22px;
      right: 23px;
    }
  }
}
