.input {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;

  &--default {
    border: 2px solid #e3e3e3;
    border-radius: 80px;
  }

  &--valid {
    border: 2px solid #999999;
    border-radius: 80px;
  }

  &--invalid {
    border: 2px solid #ff0000;
    border-radius: 80px;
  }

  &:focus {
    border: 2px solid $decor-color;
    color: $description-color;
    transition: $transition;
  }

  &::placeholder {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    font-variant: small-caps;
    text-transform: uppercase;
    color: rgba(72, 72, 72, 0.5);
  }
}
